Django~=3.1
psycopg2-binary~=2.8
graphene-django~=2.12
graphene-django-extras~=0.4
inflect~=4.1
PyJWT~=1.7
django-graphql-jwt~=0.3
django-cors-headers~=3.4
django-datatables-view~=1.19
django-decorator-include~=3.0
django-channels-graphql-ws~=0.7
channels_redis~=3.1
requests~=2.24
uvicorn~=0.12
gunicorn~=20.0
uvloop~=0.14
httptools~=0.1
celery~=5.0
redis~=3.2.0
django-celery-results~=2.0
django-celery-beat~=2.2
