[Unit]
Description=Rwanda Backend daemon
After=network.target network.target nss-lookup.target

[Service]
Type=notify
WorkingDirectory=/var/www/html/rwanda/backend
ExecStart=/var/www/html/rwanda/backend/venv/bin/gunicorn rwanda.asgi -w 8 --threads 8 -k uvicorn.workers.UvicornWorker -b 127.0.0.1:8080 --preload --timeout 60 --graceful-timeout 60 --pid /var/www/html/rwanda/backend/rwanda.pid --access-logfile /var/log/gunicorn/rwanda-backend/access.log --error-logfile /var/log/gunicorn/rwanda-backend/error.log
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target