[Unit]
Description=Celery Scheduler Backend daemon
After=network.target network.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/var/www/html/rwanda/backend
ExecStart=/var/www/html/rwanda/backend/venv/bin/celery -A rwanda beat --loglevel=INFO --pidfile=/var/www/html/rwanda/backend/scheduler.pid --logfile=/var/log/celery/rwanda-backend-scheduler.log
Restart=always

[Install]
WantedBy=multi-user.target