[Unit]
Description=Celery Scheduler Backend daemon
After=network.target network.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/opt/celery
ExecStart=/bin/sh -c '/var/www/html/rwanda/backend/venv/bin/celery -A rwanda beat --loglevel=INFO --pidfile=/var/www/html/rwanda/backend/scheduler-%n.pid --logfile=/var/log/celery/rwanda-backend-scheduler-%n%I.log'
Restart=always

[Install]
WantedBy=multi-user.target